doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 3D初心者がARアプリ開発に参加した話

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css')

  body

    article.deck

      section
        h2 3D初心者がARアプリ開発に参加した話<br/><br/>
        h4 2019/03/16
        <div style="position: absolute;bottom: 10px;right: 10px"><i class="far fa-hand-point-right"></i></div>

      section
        h2 自己紹介<br/><br/>
        <image src="images/27805556.png" height="100" width="100"/>
        h4 お名前：寺原　歩　　 　　 　　　　　　　　　　　　　　　　
        h4 お会社：<a href="https://www.is-tech.co.jp/">(株)情報戦略テクノロジー<image src="images/ist_logo.png" height="20" width="20"/>　　　 　　　　　　 　 　</a>
        h4 お所属：技術戦略推進部　　　　　　　　　　　　　　 　　 　
        h4 得意言語：JavaScript（React + Nodeでなんでも作るぞう）　
        h4 <br/><i class="fab fa-github">GitHub：</i>a-terarara　　　　　　　　　　　　　　　　　 　
        h4 今回の資料：https://a-terarara.github.io/lightning-talks_arkit2
        <br/><br/><br/>　　　　　　　　　　　　　　　　　　
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 今日話すこと<br/><br/>
        ul.build.build-items
          li <h2>1. ARを触れるまで　　　</h2>
          li <h2>2. ARについて　　　　　</h2>
          li <h2>3. DEMO(実機で)　　　　</h2>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 経歴
        h3 <b>前職時代　　　　　　　　　　　　　　　　　</b>
        h4 ・WEBサービスメインに保守案件を転々とする。　　 　　 　
        h4 ・Cobol / C / Java6 / VB.Net等を触るも、得意言語は<font color="red">Excel！</font>
        h4 <br/><br/><br/>⇒転職する
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 経歴
        h3 <b>今職時代　　　　　　　　　　　　　　　　　</b>
        h4 1年目：データ分析　　　　　　　　　　　　　　　　　　
        h4 2年目：ほにゃららPayのWebAPI開発　　 　　　　　　　
        h4 ⇒JavaScriptとの出会いが始まる　　　　　　　
        h4 2.5年目：銀行APIの開発　　　　　　　　　　　　　　 　
        h4 3年目：ARアプリの開発　　　　　　　　　　　　　 　 　
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 おや？
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 3Dどころか<br/>ネイティブアプリやったことなくね？
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 開発体制<br/>
        ul.build.build-items
          li <h2>わたし　　　　　　　　　　</h2>
          li <h2>ネイティブ上級な3D未経験者</h2>
          li <h2>　　　　　　　　　　　以上</h2>
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        img(src="images/shoshinsya.jpg" height="400" width="500")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 そんな3D初心者が３ヵ月でARをそれなりに扱うお話
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 ARについて<br><br>
        h3 拡張現実（Augmented Reality）
        h3 現実世界をコンピューティングで拡張する技術
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 スマホでカメラ使っていたら大体AR
        img(src="images/mapping.jpg" height="150" width="230")
        img(src="images/pokego.jpg" height="150" width="230")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 ARの主要技術
        table#desc
          tr
            th ジャンル
            th 概要
          tr
            td 位置認識
            td GPS、各種センサー
          tr
            td マーカーレス
            td 平面検出・垂直平面検出
          tr
            td マーカー
            td 画像検出・立体検出
          tr
            td その他
            td 顔認識
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 ARの周辺技術
        table#desc
          tr
            th ライブラリ
            th 概要
          tr
            td ARToolKit
            td 奈良大学の加藤教授が生み出したCライブラリ<br>すべての礎
          tr
            td ARKit
            td iOS用ライブラリ
          tr
            td ARCore
            td Android用ライブラリ
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 ARの周辺技術（番外編）
        table#desc
          tr
            th ライブラリ
            th 概要
          tr
            td Unity
            td 結局ARKit、ARCoreを呼ぶ必要がある
          tr
            td AR.js
            td jerome etienneが作ったOSS<br>ARToolKitとThree.jsとか使っている<br>凄い
          tr
            td その他
            td PokemonGoやテクテクテクテクは独自の<br>ライブラリを作っている（と思われる）<br>違い：電車内での動作など
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 今日はARKitを使うよ
        h4 （今日のためにiPhone買ったよ）
        h4 <br><br><br><br>（Macは家内に拒否されたよ）
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 用意するもの
        h3 Mac & XCode　　　　　　　　　　　　　　　　　
        h3 iPhone（6s以上の端末）　　　　　　　　　　　　
        h3 AppleID　　　　　　　　　　　　　　　　　　 　
        h4 ※アプリを配布したい場合はAppleDeveloperProgramに登録が必要
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 初心者編
        h3 基礎知識が無くてもセンスで出来るレベル
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
        
      section
        h2 初心者編：ARするの巻
        h3 XCodeプロジェクト作成　　　　　　　　　　
        h3 Create ⇒ Augmented Reality App　　　　　　
        img(src="images/create_project.png" height="220" width="300")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 初心者編：ARするの巻
        h3 ビルドすると目の前に飛行機の3Dオブジェクトが登場するようになります。
        img(src="images/plane_initial.jpg" height="220" width="150")
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
        
      section
        h2 初心者編：画像認識するの巻
        h3 画像認識するとは？　　　　　　　　　　　　　　
        h3 1. 画像を登録する　　　　　　　　　　　　　　　
        h3 2. カメラが画像を認識したらアクションする　　　<br>（今回は飛行機を出します）　　　　　　　　　
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 初心者編：画像認識するの巻
        h3 画像を登録する
        table#desc
          tr
            td AssetsにAR ResourceGroupを追加<image src="images/ar_resourcegroup_add.png" height="150" width="200" />
            td Drag&Drop、sizeを設定<image src="images/ar_reference_image.png" height="110" width="300" />※実はjpegでないと読み込めません
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 初心者編：画像認識するの巻
        h3 画像を認識する
        pre
          code.language-javascript.
            override func viewWillAppear(_ animated: Bool) {
              let configuration = ARWorldTrackingConfiguration()
              // マーカー画像の読み込み
              let images = ARReferenceImage.referenceImages(
                inGroupNamed: "AR Resources", bundle: nil)
              configuration.detectionImages = images
              
              sceneView.session.run(configuration)
            }
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 初心者編：画像認識するの巻
        h3 アクションする
        pre
          code.language-javascript.
             if let anchor = anchor as? ARImageAnchor {
               let ship = SCNScene(
                 named: "ship.scn", inDirectory: "models.scnassets/ship"
               )!
               for node in ship.rootNode.children {
                 sceneView.scene.rootNode.addChildNode(node)
               }
             }
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 初心者編：画像認識するの巻
        h3 ビルドすると画像の真上に3Dオブジェクトが表示されるようになります
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 番外編：ライフサイクル
        pre
          code.language-javascript.
            // 【画面描画前】3Dオブジェクトをロード
            override func viewDidLoad() {
              super.viewDidLoad()
              sceneView.scene = SCNScene(
                named: "ship.scn",
                inDirectory: "models.scnassets/ship"
              )!
            }
            // 【画面描画直後】ARのセッションを開始
            override func viewWillAppear(_ animated: Bool) {
                super.viewWillAppear(animated)
                sceneView.session.run(ARWorldTrackingConfiguration())
            }
            // 【画面のアンロード】ARのセッションを停止
            override func viewWillDisappear(_ animated: Bool) {
                super.viewWillDisappear(animated)
                sceneView.session.pause()
            }
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 中級者編
        h3 ARKit、SceneKitの<br>ドキュメントを読めば出来るレベル
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
        
      section
        h2 中級者編：3D作るの巻
        h3 Scene Editor
        h3 ソースコードから
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 中級者編：検出設定周り
        table#desc
          tr
            th コンフィギュレーション
            th 概要
          tr
            td ARWorldTrackingConfiguration
            td 現実世界（全部）をトラッキング
          tr
            td ARImageTrackingConfiguration
            td 2D画像だけトラッキング
          tr
            td ARObjectScanningConfiguration
            td 3Dオブジェクトだけトラッキング
          tr
            td ARFaceTrackingConfiguration
            td 顔だけトラッキング
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 3Dアニメーション
        h3 SCNAction
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 上級者編
        h3 座標変換を学ぶレベル
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 3D座標の計算
        h3 船の横に人間を置きたい！
        h3 船の座標から船の横幅に向けて平行移動する！
        h3 SCNMatrix4Translate(node.worldTransform, node.boundingBox.max.x, node.boundingBox.max.y*10, node.boundingBox.max.z)
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
      
      section
        h2 上級者編：3Dオブジェクトを動的に変形
        h3 geometryを差し替えると別物に変わる

      section
        h2 番外編：3Dオブジェクトの高度なアニメーション
        h3 作成した3Dオブジェクトに骨・関節にあたるボーンを埋め込むことで高度なアニメーションが生成可能
        h3 <a href="https://qiita.com/noby111/items/d2115b58b3f98958e576">qiitaの褌</a> を借りる
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h1 DEMO
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>

      section
        h2 まとめ
        h3 実は初級者編でやった内容がARの全て　　　　　<br>中級者編以降の技術はSceneKitという3Dデザイン系
        h3 ≒ ARは簡単！
      section
        h1 以上
        <div style="position: absolute;bottom: 10px;left: 10px"><a href="#1"><i class="far fa-hand-point-left"></i></a></div>
    
    script(src='build/build.js')
